# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Logs and debugging files
*.log
*.log.*
*.lock

# Compiled output and build artifacts
/dist
/tmp
/out-tsc
.vscode/
.history/
.DS_Store

# IDE and editor settings
.idea/
*.sublime-workspace
*.vscode

# System files
Thumbs.db
